@use '../utils/varibles';
@use '../utils/mixins';

.about {
  @include mixins.on-tablet {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 24px;
    .section-title {
      text-align: left;
    }
  }

  @include mixins.on-desktop {
    grid-template-columns: 3fr 4fr;
  }

  &__description {
    margin: 0;
    font-size: 23px;
    line-height: 140%;
    font-weight: 500;
  }
}
