@use '../utils/varibles';
@use '../utils/mixins';

.compare {
  &__products {
    @include mixins.page-grid;

    row-gap: 40px;
  }
  &__product {
    grid-column: 1 / -1;

    @include mixins.on-tablet {
      grid-column: 2 / -2;
    }

    @include mixins.on-desktop {
      grid-column: span 4;
    }
  }
  &__photo {
    width: 100%;
    transition: transform 0.3s;
    &:hover {
      transform: scale(1.21);
    }
  }

  &__title {
    margin: 32px 0 0;
    font-size: 24px;
    line-height: 140%;
  }

  &__description {
    margin: 8px 0 0;
    font-size: 16px;
    line-height: 140%;
  }
  &__price {
    margin: 16px 0 0;
    font-size: 24px;
    font-weight: 700;
    line-height: 140%;
  }
}
