@use '../utils/varibles';
@use '../utils/mixins';

.form {
  display: flex;
  flex-direction: column;
  row-gap: 16px;

  grid-column: span 2;

  @include mixins.on-tablet {
    grid-column: 1 / 4;
  }

  @include mixins.on-desktop {
    grid-column: 1 / 6;
  }

  &__input {
    padding: 14px 16px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    border-radius: 40px;
    color: #292929;
    border: none;
    transition: box-shadow 0.3s;
    &::placeholder {
      color: #7e7e83;
    }

    &:focus {
      outline: none;
      box-shadow: 1px 4px 16px 0 #e8e8f066;
    }
  }
  &__textarea {
    padding: 14px 16px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    border-radius: 16px;
    color: #292929;
    resize: none;
    min-height: 148px;
    border: none;
    transition: box-shadow 0.3s;

    &::placeholder {
      color: #7e7e83;
    }

    &:focus {
      outline: none;
      box-shadow: 1px 4px 16px 0 #e8e8f066;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    background-color: #fff;
    color: varibles.$color-primary;
    border: none;
    border-radius: 40px;
    min-height: 56px;
    margin-top: 32px;
    cursor: pointer;
    transition: box-shadow 0.3s;

    &:hover {
      box-shadow: 1px 4px 16px 0 #e8e8f066;
    }
  }
}
