@use '../utils/mixins';

.header {
  background-image: url(/images/header-bg-mobile.png);
  background-size: cover;
  background-position: right;

  @include mixins.on-tablet {
    background-image: url(/images/big_bike.png);
    background-position: top;
  }

  @include mixins.on-desktop {
    background-position: center;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
  }

  &__title {
    letter-spacing: -1.5px;
    line-height: 100%;
    margin: 0;
    font-size: 36px;
    text-align: center;

    @include mixins.on-tablet {
      font-size: 64px;
    }
  }

  &__bottom {
    padding-bottom: 88px;

    @include mixins.on-tablet {
      padding-bottom: 130px;
    }
  }
}
