@use '../utils/mixins';

.icon {
  display: block;
  width: 24px;
  height: 24px;
  background-size: cover;
  background-position: center;

  @include mixins.hover(transform, scale(1.2));

  @include mixins.on-tablet {
    width: 32px;
    height: 32px;
  }

  &--phone {
    background-image: url(/images/icon/icon-phone.svg);
  }

  &--menu {
    background-image: url(/images/icon/icon-menu.svg);

    &:hover {
      background-image: url(/images/icon/icon-menu-hover.svg);
    }
  }

  &--close {
    background-image: url(/images/icon/icon-close.svg);
  }
}
