@use '../utils/varibles';
@use '../utils/mixins';

.container {
  @include mixins.content-padding-inline;
}

.main {
  position: relative;
  z-index: 1;
  background-color: varibles.$color-primary;

  &__content {
    display: grid;
    row-gap: 92px;
    padding-block: 60px;

    @include mixins.on-tablet {
      row-gap: 120px;
      padding-block: 120px;
    }
  }
}
