@use '../utils/varibles';

.nav {
  &__link {
    color: varibles.$color-primary;
    text-decoration: none;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 2px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin: 0;
    padding: 0;
    list-style: none;
  }
}
