@use '../utils/varibles';

.page {
  font-family: Poppins, sans-serif;
  line-height: 140%;
  font-size: 16px;
  color: varibles.$color-text;
  scroll-behavior: smooth;

  &__body {
    margin: 0;
    background-color: varibles.$color-primary;
  }

  &__menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    pointer-events: none;
  }

  &__menu:target {
    pointer-events: all;
    opacity: 1;
  }
}
